* {
	background-image: none;
	font-size: 16;
	font-family: "JetBrains Mono Medium", FontAwesome, sans-serif;
}

window {
	background-color: alpha(#2D353B, 0.1);
}

button {
	margin: 15px;
	color: #D3C6AA;
	background-color: #425258;
	border: 3px solid #7A8479;
	background-size: 25%;
	background-position: center;
	background-repeat: no-repeat;
}

button:focus, button:active, button:hover {
	background-color: #425047;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
